name: Publish UDS Capability

on:
  push:
    branches:
      - main

jobs:
  tag-new-version:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          command: manifest
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-uds-package:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true' }}
    runs-on: macos-26
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install UDS CLI
        uses: defenseunicorns/setup-uds@ab842abcad1f7a3305c2538e3dd1950d0daacfa5 # v1.0.1
        with:
          # renovate: datasource=github-tags depName=defenseunicorns/uds-cli versioning=semver
          version: v0.27.21

      - name: Registry login
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | uds zarf tools registry login -u dummy --password-stdin ghcr.io

      - name: Build the package
        run: uds run build --no-progress

      - name: Publish the package
        run: |
          uds zarf package publish ./zarf-package-uds-apple-containerization-arm64-*.tar.zst oci://ghcr.io/willswire/packages
